﻿
@{
    ViewBag.Title = "crearEncuesta";
}

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    $(document).ready(function() {
        @*let json = {
            encuesta: [
                {
                    codigo_encuesta: '1',
                    codigo_usuario_empresa: '1',
                    nombre: 'prueba',
                    fecha_inicio: '01/01/01',
                    fecha_fin: '01/01/01',
                    token: '00000',
                    limite_registro: '1000',
                    bonificacion: '50',
                    estado_registro: '1'
                },
                {
                    codigo_encuesta: '1',
                    codigo_usuario_empresa: '1',
                    nombre: 'prueba',
                    fecha_inicio: '01/01/01',
                    fecha_fin: '01/01/01',
                    token: '00000',
                    limite_registro: '1000',
                    bonificacion: '50',
                    estado_registro: '1'
                }
            ]
        }

        $.ajax({
            type: 'POST',
            url: '@Url.Action("crearEncuesta","Encuesta")',
            data: {
                //json: JSON.stringify(json)
                json: JSON.stringify(json)
            },
            success: function (data) {
                console.log(data)
            }
        })*@
    })

    let numeroPregunta = 0;
    let jsonEncuesta = {};

    let crearPregunta = (tipo) => {
        //let row = $('#divPregunta').html();
        let row = '';
        row += '<div class="pregunta">';
        row += '<hr>';
        row += '<div class="form-group">';
        row += '<input type="hidden" value="'+ tipo +'">';
        row += '<label>Pregunta ' + (++numeroPregunta) + ': (' + (tipo != 0 ? 'Comentario' : 'Alternativas') +')</label>';
        row += tipo != 0 ? '' : '<button class="btn btn-warning pull-right" onclick="crearAlternativa(' + numeroPregunta + ')">Agregar alternativa</button>';
        row += '<textarea class="form-control txtPregunta"></textarea>';
        row += '</div>';
        row += tipo != 0 ? '' : '<div id="divAlternativa' + (numeroPregunta) + '" class="grupoAlternativa col-sm-offset-1"></div>';

        $('#divPregunta').append(row);
    }

    let crearAlternativa = (numero) => {
        let alternativa = $('#divAlternativa' + numero).children('.form-group').length;
        //let html = $('#divAlternativa' + numero).html();
        let html = '';
        html += '<div class="form-group">';
        html += '<label>Alternativa ' + (++alternativa) + ':</label>';
        html += '<input class="txtAlternativa form-control">';
        html += '</div>';

        $('#divAlternativa' + numero).append(html);
    }

    let obtenerData = () => {
        let preguntas = [];

        $('.pregunta').each(function (i, v) {
            let tipoPregunta = $(this).find('input[type="hidden"]').val();
            let obj = {
                tipoPregunta: tipoPregunta,
                pregunta: $(this).find('textarea').val()
            }
            if (tipoPregunta == 0) {
                let alternativas = [];
                $(this).find('.txtAlternativa').each(function (ind, val) {
                    alternativas.push($(val).val());
                })
                obj.alternativas = alternativas;
            }
            preguntas.push(obj);
        })

        let nombreEncuesta = $('#txtNombreEncuesta').val();

        jsonEncuesta = {
            nombreEncuesta: nombreEncuesta,
            preguntas: preguntas
        }
    }

    let vistaPrevia = () => {

        obtenerData();

        let html = '';
        html += '<div class="row">';
        html += '<div class="col-md-10 col-md-offset-1">';
        html += 'Nombre de encuesta: ' + jsonEncuesta.nombreEncuesta;
        html += '<div class="col-md-offset-1">';
        jsonEncuesta.preguntas.forEach(function (valor, indice) {
            html += '<hr>'
            html += 'Pregunta ' + (indice + 1) + ':<br>';
            html += valor.pregunta;
            html += '<div class="col-md-offset-1">';

            if (valor.tipoPregunta == 0) {
                html += '<form>'
                valor.alternativas.forEach(function (val, ind) {
                    html += '<div class="radio">';
                    html += '<label><input type="radio" name="opcion">' + val + '</label>';
                    html += '</div>';
                })
                html += '</form>'
            } else {
                html += '<div class="form-group">';
                html += 'Comentario:';
                html += '<textarea class="form-control"></textarea>';
                html += '</div>';
            }
            html += '</div>';
        })
        html += '</div>';
        html += '</div>';
        html += '</div>';

        $('#modal_vista_previa .modal-body').html(html);
        $('#modal_vista_previa').modal('show');
    }

    let crearEncuesta = () => {

        obtenerData();

        let fechaInicio = $('#dtFechaInicio').val();
        let fechaFin = $('#dtFechaFin').val();
        let bonificacion = $('#txtBonificacion').val();
        let limite = $('#txtLimite').val();
        let token = $('input[name="token"]:checked').val();

        jsonEncuesta.fechaInicio = fechaInicio;
        jsonEncuesta.fechaFin = fechaFin;
        jsonEncuesta.bonificacion = bonificacion;
        jsonEncuesta.limite = limite;
        jsonEncuesta.token = token;

        console.log(jsonEncuesta);


        $.ajax({
            type: 'POST',
            url: '@Url.Action("crearEncuesta","Encuesta")',
            data: {
                //json: JSON.stringify(json)
                json: JSON.stringify(jsonEncuesta)
            },
            success: function (data) {
                console.log(data)
            }
        })
    }
</script>

<h2>Creacion de encuesta</h2>
<br>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="row">
            <button class="btn btn-info pull-right" data-toggle="modal" data-target="#modal_crear_encuesta">Crear encuesta</button>
            <button class="btn btn-primary pull-right" onclick="vistaPrevia()">Vista previa</button>
            <div class="form-group">
                <label>Nombre de encuesta:</label>
                <input class="form-control" id="txtNombreEncuesta" />
            </div>
        </div>
        <div id="divPregunta">
            @*<div class="form-group">
                    <div class="row">
                        <div class="form-group">
                            <label>Pregunta 1</label><button class="btn btn-success pull-right">Agregar alternativa</button>
                            <input class="form-control txtPregunta"/>
                        </div>
                        <div class="row" id="divAlternativa1">

                        </div>
                    </div>
                </div>*@
        </div>
        <hr>
        <button class="btn btn-success pull-right" data-toggle="modal" data-target="#modal_tipo_pregunta">Agregar pregunta</button>
    </div>
</div>

@*Modales*@
@*Modal tipo de pregunta*@

<div class="modal fade" id="modal_tipo_pregunta" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Elija el tipo de pregunta</h4>
            </div>
            <div class="modal-body">
                <button class="btn btn-success" onclick="crearPregunta(0)" data-dismiss="modal">Alternativa</button>
                <button class="btn btn-primary" onclick="crearPregunta(1)" data-dismiss="modal">Comentario</button>
                <button class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

@*Modal vista previa*@
<div class="modal fade" id="modal_vista_previa" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Vista previa</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" data-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>

@*Modal confirmacion para la creacion*@
<div class="modal fade" id="modal_crear_encuesta" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Configuraciones</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label>Fecha de inicio:</label>
                        <input type="date" id="dtFechaInicio" class="form-control"/>
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Fecha de fin:</label>
                        <input type="date" id="dtFechaFin" class="form-control"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 form-group">
                        <label>Bonificacion:</label>
                        <input type="number" id="txtBonificacion"  class="form-control"/>
                    </div>
                    <div class="col-md-4 form-group">
                        <label>Limite de encuestas:</label>
                        <input type="number" id="txtLimite"  class="form-control"/>
                    </div>
                    <div class="col-md-4 form-group">
                        <label>Encuesta:</label>
                        <div class="radio">
                            <label><input type="radio" name="token" value="1"/>Publico</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="token" value="0"/>Privado</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" onclick="crearEncuesta()">Aceptar</button>
                <button class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

