﻿@model IEnumerable<Entidades.Promocion>

@{
    ViewBag.Title = "listarPromocion";
}

<h2>listarPromocion</h2>

<p>
    @Html.ActionLink("Crear promocion", "Create")
</p>
<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.codigo_promocion)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.codigo_usuario_empresa)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descripcion)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.terminos)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.imagen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bonificacion_pago)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_inicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_fin)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.estado_registro)
        </th>*@
        @*<th></th>*@
    </tr>

@foreach (var item in Model) {
    <tr>
        @*<td>
            @Html.DisplayFor(modelItem => item.codigo_promocion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.codigo_usuario_empresa)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.terminos)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.imagen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bonificacion_pago)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_inicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_fin)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.estado_registro)
        </td>*@
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>*@
    </tr>
}

</table>
