﻿@model Entidades.Usuario

@{
    ViewBag.Title = "Ingresar";
    Layout = null;
}

@*<h2>Ingresar</h2>*@

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alfi Quiz</title>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div class="container body-content">

        @using (Html.BeginForm())
        {
            <div class="form-horizontal">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <div class="panel" style="border: 1px solid #337ab7;margin: 30% 0px;">
                            <div class="panel-heading bg-primary">
                                <h3 class="panel-title text-center">Ingresar usuario</h3>
                            </div>
                            <div class="panel-body">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                <div class="form-group">
                                    @Html.LabelFor(model => model.correo, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.correo, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.correo, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.clave, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.PasswordFor(model => model.clave, new { @class = "form-control" })
                                        @*@Html.PasswordFor(model => model.clave, new { htmlAttributes = new { @class = "form-control" } })*@
                                        @Html.ValidationMessageFor(model => model.clave, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-12 text-center">
                                        <input type="submit" value="Ingresar" class="btn btn-success form-control" />
                                    </div>
                                </div>

                                <p class="text-center">
                                    <label>¿No estas registrado?</label>
                                    <div class="form-inline text-center">

                                        <a href="#mimodal" id="modal_persona" class="btn-link btn-info"
                                           data-toggle="modal">
                                            Soy una persona
                                        </a>

                                        <a href="#mimodal" id="modal_empresa" class="btn-link btn-info"
                                           data-toggle="modal">
                                            Soy una empresa
                                        </a>

                                        @*@Html.ActionLink("Soy una persona", "registrarUsuarioPersona")
                                            @Html.ActionLink("Soy una empresa", "registrarUsuarioEmpresa")*@
                                    </div>

                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

        @*Modal*@

        <div class="modal" id="mimodal">

            <div class="modal-dialog modal-lg">

                <div class="modal-content">

                    @*<div class="modal-header">
                            <input type="button" class="close"
                                   data-dismiss="modal" value="&times;" />
                        </div>*@

                    <div class="modal-body">

                        <div id="modal-content">

                        </div>

                        @*<p>cuerpo de la ventana modal</p>*@

                    </div>

                    <div class="modal-footer">

                        <input type="button" class="btn btn-danger"
                               data-dismiss="modal" id="btncerrar" value="Cerrar" />

                    </div>

                </div>

            </div>

        </div>

        @*Modal*@

        <script type="text/javascript">

            $(document).ready(function () {
                $('#modal_persona').click(function () {
                    $('#modal-content').load("/Usuario/registrarUsuarioPersona/");
                });


                $('#modal_empresa').click(function (eve) {

                    //alert("Entro");
                    $("#modal-content").load("/Usuario/registrarUsuarioEmpresa/");
                    //$('#modal-content').load("/BS/CrearCurso");

                });


            });

        </script>

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @*@RenderSection("scripts", required: false)*@
</body>
</html>
