﻿@model Entidades.UsuarioEmpresa

@{
    ViewBag.Title = "inicioUsuarioEmpresa";
}

<h2>Bienvenido @Html.DisplayFor(model => model.nombre)</h2>

<div class="form-horizontal">
    <div class="form-group">
        @Html.ActionLink("Mis promociones","listarPromocion","Promocion",null, new { @class = "btn btn-success" })
    </div>
    <div class="form-group">
        @Html.ActionLink("Mis encuestas", "crearEncuesta", "Encuesta",null, new { @class = "btn btn-warning" })
    </div>
    @*<div class="form-group">
        @Html.LabelFor(model => model.codigo_usuario_empresa, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.DisplayNameFor(model => model.codigo_usuario_empresa)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.nombre, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.DisplayTextFor(model => model.nombre)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.ruc, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.DisplayTextFor(model => model.ruc)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.correo, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.DisplayTextFor(model => model.correo)
    </div>*@
</div>
