﻿@model Entidades.UsuarioPersona

@{
    ViewBag.Title = "inicioUsuarioPersona";
}

<h2>inicioUsuarioPersona</h2>

<div class="form-horizontal">
    <div class="form-group">
        @Html.LabelFor(model => model.codigo_usuario_persona, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.DisplayFor(model => model.codigo_usuario_persona)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.nombre, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.DisplayFor(model => model.nombre)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.apellido_paterno, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.DisplayFor(model => model.apellido_paterno)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.apellido_materno, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.DisplayFor(model => model.apellido_materno)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.dni, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.DisplayFor(model => model.dni)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.correo, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.DisplayFor(model => model.correo)
    </div>
</div>

